@{
    ViewData["Title"] = "P9影视";
}
@model IndexViewModel

@section Css{
    <link rel="stylesheet" href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
}

<!--Carousel-->
<div id="hotCarousel" class="carousel slide">
    <div class="carousel-inner">
        @for (int i = 0; Model.Carousels != null && i < Model.Carousels.Count; i++)
        {
            <div class="@(i==0?"active ":"")item">
                <a target="_blank" href="@Model.Carousels[i].Link"><img src="@Model.Carousels[i].ImgUrl" /><span>@Model.Carousels[i].Title</span></a>
            </div>
        }
    </div>
    <a class="carousel-control left" href="#hotCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="carousel-control right" href="#hotCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<!--condition-->
<div class="condition">
    <div class="cdt-area">
        产地：
        <span class="label label-primary">不限</span>
        @foreach (var movieArea in Model.MovieAreas)
        {
            <span class="label label-default" data-id="@movieArea.Id">@movieArea.Area</span>
        }
        <span class="label label-default" data-id="0">其它</span>
    </div>
    <div class="cdt-type">
        类型：
        <span class="label label-primary">不限</span>
        @foreach (var movieGenre in Model.MovieGenres.Take(10))
        {
            <span class="label label-default" data-id="@movieGenre.Id">@movieGenre.Name</span>
        }
        <div class="more" style="padding:0; margin-left:49px;">
            @foreach (var movieGenre in Model.MovieGenres.Skip(10))
            {
                <span class="label label-default" data-id="@movieGenre.Id">@movieGenre.Name</span>
            }
        </div>
    </div>
    <div class="cdt-time">
        上映：
        <span class="label label-primary">不限</span>
        <span class="label label-default" data-start="@DateTime.Now.AddMonths(-6).ToString("yyyy-MM-dd")">近半年</span>
        <span class="label label-default" data-start="@DateTime.Now.AddYears(-1).ToString("yyyy-MM-dd")">近一年</span>
        <span class="label label-default cdt-time-custom" data-start="" data-end="">自定义</span>
        <input id="datetimeStart" disabled="disabled" type="text" /> — <input disabled="disabled" id="datetimeEnd" type="text" />
        <button disabled="disabled" class="btn btn-default btn-year-confirm">确定</button>
    </div>
    <div class="cdt-sort">
        排序：
        <span class="label label-primary" data-id="0">最新更新</span>
        <span class="label label-default" data-id="1">最近热度</span>
        <span class="label label-default" data-id="2">上映日期</span>
        <span class="label label-default" data-id="3">综合评分</span>
    </div>
</div>

<hr>
<!--search-result-->
<div class="search-result">
    <div class="list-hot">
        <ul class="list-group">
            <li class="list-group-item">
                近期推荐
            </li>
            @for (int i = 1; Model.RecentRecommends != null && i < Model.RecentRecommends.Count + 1; i++)
            {
                <li class="list-group-item">
                    <a href="/movie/@Model.RecentRecommends[i-1].MovieId" target='_blank'>
                        <span class="badge @(i<4?" badge-hot":"")">@i</span>
                        @Model.RecentRecommends[i - 1].MovieShortName
                    </a>
                    <div>
                        <img alt="@Model.RecentRecommends[i-1].MovieShortName" class="img-size-2" src="@Model.RecentRecommends[i-1].MovieImgUrl">
                        <p><span class="strong">评分：</span><span class="red">@Model.RecentRecommends[i - 1].MovieScore.ToString("f1")</span></p>
                        <p style="max-height: 60px;overflow: hidden;"><span class="strong">主演：</span>@Model.RecentRecommends[i - 1].MovieActor<br /></p>
                        <p><span class="strong">导演：</span>@Model.RecentRecommends[i - 1].MovieDirector<br /></p>
                        <p style="max-height: 80px;overflow: hidden;"><span class="strong">简介：</span>@Model.RecentRecommends[i - 1].MovieIntro</p>
                    </div>
                </li>
            }
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                年度推荐
            </li>
            @for (int i = 1; Model.AnnualRecommends != null && i < Model.AnnualRecommends.Count + 1; i++)
            {
                <li class="list-group-item">
                    <a href="/movie/@Model.AnnualRecommends[i-1].MovieId" target='_blank'>
                        <span class="badge @(i<4?" badge-hot":"")">@i</span>
                        @Model.AnnualRecommends[i - 1].MovieShortName
                    </a>
                    <div>
                        <img alt="@Model.AnnualRecommends[i-1].MovieShortName" class="img-size-2" src="@Model.AnnualRecommends[i-1].MovieImgUrl">
                        <p><span class="strong">评分：</span><span class="red">@Model.AnnualRecommends[i - 1].MovieScore.ToString("f1")</span></p>
                        <p style="max-height: 60px;overflow: hidden;"><span class="strong">主演：</span>@Model.AnnualRecommends[i - 1].MovieActor<br /></p>
                        <p><span class="strong">导演：</span>@Model.AnnualRecommends[i - 1].MovieDirector<br /></p>
                        <p style="max-height: 80px;overflow: hidden;"><span class="strong">简介：</span>@Model.AnnualRecommends[i - 1].MovieIntro</p>
                    </div>
                </li>
            }
        </ul>
    </div>

    <div class="row list-movies" style="max-width:890px;">
        @if (Model.MovieList != null)
        {
            @foreach (var movie in Model.MovieList.Data)
            {
                <div class="col-xs-6 col-md-2">
                    <a href="/movie/@movie.Id" target='_blank' class="thumbnail">
                        <img alt="@movie.ShortName" class="img-size-2" src="@movie.ImgUrl">
                    </a>
                    <div class="intro">
                        <p title="@movie.ShortName"><span>@movie.Score.ToString("f1")</span>@movie.ShortName</p>
                    </div>
                </div>
            }
        }
    </div>

    <nav class="nav-pag">
        <ul class="pagination"></ul>
    </nav>
</div>

@section Scripts{
    <script type="text/javascript" src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#datetimeStart").datetimepicker({
                language: 'zh-CN',
                format: "yyyy-mm-dd",
                autoclose: true,
                minView: "month",
                todayBtn: true,
            }).on("click", function (ev) {
                $("#datetimeStart").datetimepicker("setEndDate", $("#datetimeEnd").val());
            });
            $("#datetimeEnd").datetimepicker({
                language: 'zh-CN',
                format: "yyyy-mm-dd",
                autoclose: true,
                minView: "month",
                todayBtn: true,
            }).on("click", function (ev) {
                $("#datetimeEnd").datetimepicker("setStartDate", $("#datetimeStart").val());
            });

            //轮播
            $('.carousel').carousel({
                interval: 7000 // in milliseconds
            })

            $(".pagination").html(paging(1,@Model.MovieList.TotalCount, @Model.MovieList.PageSize,3))

            $(".pagination").on("click", "li:not('.disabled,.active') a", function () {
                $(".pagination li").removeClass("active");
                $(this).parent().addClass("active");
                search();
            })
        });
    </script>
}