@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewData["Title"] - P9YS后台</title>
    <link rel="stylesheet" href="~/lib/layui-v2.4.5/layui/css/layui.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    @RenderSection("Css", required: false)
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo"></div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a target="_blank" href="http://www.p9ys.com">P9YS</a></li>
                <li class="layui-nav-item"><a target="_blank" href="">Hangfire仪表盘</a></li>
                <li class="layui-nav-item"><a target="_blank" href="https://tongji.baidu.com/web/welcome/ico?s=54da0130191dd1595352a19e4eaee145">百度统计</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        p9ys
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0)">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree">
                    <li class="layui-nav-item @(controller=="Movie"?"layui-nav-itemed":"")">
                        <a class="" href="javascript:;">影片管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">新片审核</a></dd>
                            <dd @((controller == "Movie" && action == "Resource") ? "class=layui-this" : "")><a href="/Movie/Resource">资源管理</a></dd>
                            <dd @((controller == "Movie" && action == "Rating") ? "class=layui-this" : "")><a href="/Movie/Rating">评分记录</a></dd>
                            <dd @((controller == "Movie" && action == "Comment") ? "class=layui-this" : "")><a href="/Movie/Comment">留言记录</a></dd>
                            @*<dd><a href="javascript:;">提问记录</a></dd>*@
                        </dl>
                    </li>
                    <li class="layui-nav-item @(controller=="User"?"layui-nav-itemed":"")">
                        <a href="javascript:;">用户管理</a>
                        <dl class="layui-nav-child">
                            <dd @((controller == "User" && action == "Index") ? "class=layui-this" : "")><a href="/User/Index">用户管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item @(controller=="Setting"?"layui-nav-itemed":"")">
                        <a href="javascript:;">系统设置</a>
                        <dl class="layui-nav-child">
                            <dd @((controller=="Setting" && action=="Carousel")?"class=layui-this":"")><a href="/Setting/Carousel">首页轮播</a></dd>
                            <dd @((controller=="Setting" && action=="Recommend")?"class=layui-this":"")><a href="/Setting/Recommend">推荐列表</a></dd>
                            <dd @((controller=="Setting" && action=="Area")?"class=layui-this":"")><a href="/Setting/Area">国家设置</a></dd>
                            <dd @((controller=="Setting" && action=="Genre")?"class=layui-this":"")><a href="/Setting/Genre">类型设置</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                @RenderBody()
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © p9ys.com
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/layui-v2.4.5/layui/layui.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;
        });

        function ImageToBase64(inputFile, dataCallback) {
            if (typeof (FileReader) === 'undefined') {
                alert("抱歉，你的浏览器不支持 FileReader，不能将图片转换为Base64！");
            } else {
                try {
                    /*图片转Base64 核心代码*/
                    var file = inputFile.files[0];
                    if (!/image\/\w+/.test(file.type)) {
                        alert("请确保文件为图像类型");
                        return false;
                    }
                    var reader = new FileReader();
                    reader.onload = function () {
                        dataCallback(this.result);
                    }
                    reader.readAsDataURL(file);
                } catch (e) {
                    alert('图片转Base64出错' + e.toString())
                }
            }
        }
    </script>
</body>
</html>