@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
    @inject P9YS.Services.User.IUserService _userService;
    var user = _userService.GetCurrentUser();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewData["Title"] - P9YS后台</title>
    @{await Html.RenderPartialAsync("_BaseCssPartial");}
    @RenderSection("Css", required: false)
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <a href="http://www.p9ys.com"><div class="layui-logo"></div></a>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a target="_blank" href="http://www.p9ys.com">P9YS</a></li>
                <li class="layui-nav-item"><a target="_blank" href="/hangfire">Hangfire仪表盘</a></li>
                <li class="layui-nav-item"><a target="_blank" href="https://tongji.baidu.com/web/welcome/ico?s=54da0130191dd1595352a19e4eaee145">百度统计</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="@user.Avatar" class="layui-nav-img">
                        @user.Email
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0)">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree">
                    <li class="layui-nav-item @(controller=="Movie"?"layui-nav-itemed":"")">
                        <a class="" href="javascript:;">影片管理</a>
                        <dl class="layui-nav-child">
                            <dd @((controller == "Movie" && action == "Verify") ? "class=layui-this" : "")><a href="/Movie/Verify">新片审核</a></dd>
                            <dd @((controller == "Movie" && action == "Index") ? "class=layui-this" : "")><a href="/Movie/Index">影片库</a></dd>
                            <dd @((controller == "Movie" && action == "Resource") ? "class=layui-this" : "")><a href="/Movie/Resource">资源</a></dd>
                            <dd @((controller == "Movie" && action == "Rating") ? "class=layui-this" : "")><a href="/Movie/Rating">评分记录</a></dd>
                            <dd @((controller == "Movie" && action == "Comment") ? "class=layui-this" : "")><a href="/Movie/Comment">留言记录</a></dd>
                            @*<dd><a href="javascript:;">提问记录</a></dd>*@
                        </dl>
                    </li>
                    <li class="layui-nav-item @(controller=="User"?"layui-nav-itemed":"")">
                        <a href="javascript:;">用户管理</a>
                        <dl class="layui-nav-child">
                            <dd @((controller == "User" && action == "Index") ? "class=layui-this" : "")><a href="/User/Index">用户管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item @(controller=="Setting"?"layui-nav-itemed":"")">
                        <a href="javascript:;">系统设置</a>
                        <dl class="layui-nav-child">
                            <dd @((controller == "Setting" && action == "Carousel") ? "class=layui-this" : "")><a href="/Setting/Carousel">首页轮播</a></dd>
                            <dd @((controller == "Setting" && action == "Recommend") ? "class=layui-this" : "")><a href="/Setting/Recommend">推荐列表</a></dd>
                            <dd @((controller == "Setting" && action == "Area") ? "class=layui-this" : "")><a href="/Setting/Area">国家设置</a></dd>
                            <dd @((controller == "Setting" && action == "Genre") ? "class=layui-this" : "")><a href="/Setting/Genre">类型设置</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                @RenderBody()
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © p9ys.com
        </div>
    </div>
    @{await Html.RenderPartialAsync("_BaseScriptsPartial");}
    @RenderSection("Scripts", required: false)
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
</body>
</html>